<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>

<form th:action="@{/admin/find/edit(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="id" th:value="${user.id}">
    <div>
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}" id="username"/>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password"/>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" th:field="*{age}" id="age"/>
    </div>
    <button type="submit">Save Changes</button>
</form>

<a href="/admin">Back to Users List</a>
</body>
</html>
